@import "~jqcron/src/jqCron.css";

#reminder-admin-config {
    #reminder-admin-config-content {
        .jqCron-selector-list {
            white-space: initial;
        }
    }

    #reminder-admin-config-table {
        /**/
    }
}